  body{
    margin: auto;
  }
header {
 height: 85px;
 background-color: darkturquoise;
 color: black;
}
#icon{
    float: left;
    display: flex;
}
#icon >h1 {
margin: 2%;
}
#icon >button{
  margin: 5%;
}
button{
    height: 32px;
    width: 70px;
    background-color: darkcyan;
    color: white;
    margin-top: 21px;
    margin-right: 22px;
  }
#login {
  background-color: darkcyan;
}
#register {
  background-color: darksalmon;
}

#social{
    float:right;
}

/* search css*/
#search {
 height: 470px;
 /*border:2px solid blue;*/ 
 background-image: url('images/food2.jpg');
 background-size: 100% ;
 background-repeat: no-repeat;
}
#logo{
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  margin-top: 5%;
  margin-left: 44%;
  position:absolute;
}
#logo >span {
font-size: 4em;
margin-top: 35px;
margin-left: 51px;
position: absolute;
}
#heading {
  font-size: 65px;
  margin-top: 220px;
  margin-left: 182px;
  position: absolute;
  color: white; 
}
.dropdown {
  height: 100%;
  width: 90%;
  margin-left: 380px;
  margin-top :340px;
  position: absolute;
  border:black;
}

/*quicksearch*/
#quicksearch{
    height: 1200px;
    border:2px solid purple;
}
#quickheading{
  font-size: 30px;
  color: black;
  display: block;
  font-weight: bold;
  line-height: 3;
  margin-left: 5%;
  font-family: 'Times New Roman', Times, serif;
}
#quicksubheading {
  font-size: 20px;
  color: grey;
  display: block;
  line-height: 1;
  margin-left: 5%;
}
.titleContainer {
 width: 340px;
 height: 180px;
 border: 2px solid blue;
 display: inline-block;
 margin-left: 2%;
 margin-top: 3%;
}
.titleComponent1{
  width:40%;
  float:left;
}


.titleComponent2{
  width:45%;
  float:left;
  margin-left: 30%;
  margin-top:10%;
}

/*footer css*/
footer {
   height: 100px;
   border:2px solid brown;
}
